.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.w-50 {
  width: 50%;
}

.p-1 {
  padding: 10px;
}

video{
  width: 300px;
  height: 200px;
}

.log {
  height: 200px;
  border: 2px solid red;
  padding: 5px;
  overflow: auto;
}
